body {
    background-image: url("https://www.itl.cat/pngfile/big/221-2210057_fullscreen-fruits-and-vegetables-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}